{% extends "page.html" %}
{% load static %}
{% block main %}
  <div class="main" style='background:url("{% get_static_prefix %}images/back.jpeg");background-repeat:no-repeat;height:100%'>
    {% include "alerts.html" %}
      <div class="row">
      	<div id="left_pane" class="well span3 well-transparent offset1">
      	 <h4>Leute</h4>
      	 <hr/>
      	 {% comment %}
      	     Careful! Code is public. Do not share facebook usernames/names
      	 {% endcomment %}
      	 {% if members%}
      	 {% for member in members %}
         <a href="{% url members%}#{{member.user.username}}"  rel="popover" 
         data-content="{{member.short_bio}}" 
         data-original-title="{{member.user.first_name}} {{member.user.last_name}}">
            <img class="fb_img" src='https://graph.facebook.com/{{member.fb_username}}/picture'/>
         </a>
         {% endfor %}
      	 {%else%}
  	     {% for x in 01234567890123456789|make_list %}
  	     <a href="{% url members%}#username"  rel="popover" 
  	     data-content="one line bio" 
  	     data-original-title="username">
      	    <img class="fb_img" src='http://placehold.it/50x50'/>
      	 </a>
	     {% endfor %}
	     {%endif%}
        </div>
        <div class="span4 offset3">
            <div class="row well well-transparent">
	            <h4>Welcome to German Haus</h4>
	            <hr/>
	            Das Deutsche Haus ist eine kleine Wohngemeinschaft von 
	            25 Studenten innerhalb von New House. Wir essen und 
	            musizieren zusammen und sprechen Deutsch manchmal. 
	            Gelegentlich backt Einer uns etwas Köstliches, und 
	            wir verbringen einen schönen Abend miteinander. Für 
	            jeden gibt es ein geräumiges Einzelzimmer als Unterkunft 
	            zur Verfügung. 
	        </div><!--row-->
	        <div class="row well well-transparent">
	           <h4>Latest Blogs</h4>
	           <hr/>
	           <p>Blog title 1</p>
	           <p>Blog title 2</p>
	           <p>Blog title 3</p>
	        </div>
        </div>
      </div>
  </div>
  <script>
    $("a[rel=popover]")
      .popover();
</script>
{% endblock %}
