{% load static %}<!DOCTYPE html>
<html>
  <head>
  {% block title %}
    <title>MIT Deutsches Haus- German House</title>
  {%endblock %}
    <link href="{% get_static_prefix %}bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{% get_static_prefix %}dh.css" media="screen" rel="stylesheet" type="text/css">
    <script src="{% get_static_prefix %}jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="{% get_static_prefix %}bootstrap-alert.js" type="text/javascript"></script>
    <script src="{% get_static_prefix %}bootstrap-tooltip.js" type="text/javascript"></script>
    <script src="{% get_static_prefix %}bootstrap-popover.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url home %}">Deutsches Haus</a>
          <div class="nav-collapse">
	          <ul class="nav">
	               <li><a href="{% url summer %}">summer</a></li>
	               <li><a href="{% url members %}">members</a></li>
	               <li><a href="{% url life %}">life@dh</a></li>
	               <li><a href="{% url contact_us%}">contact us</a></li>
	          </ul>
	          <ul class="nav pull-right">
		          {% if userasdfasdf %}
	                <li><a href="admin">Sign Out</a></li>
	              {% else %}
	                <li><a href="admin">Sign In</a></li>
	              {% endif %}
	          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="height:100%">
{% block main %}
{% endblock %}
    </div>
  </body>
</html>
